@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'tailwindcss';

@theme {
  --font-sans: 'Open Sans', serif;

  --color-blue: #1d2637;
  --color-blue-light: #1e3350;
  --color-blue-light-secondary: #232c3e;
}

#root {
  @apply flex h-screen flex-col text-white antialiased;
}

body {
  @apply bg-blue;
}

button {
  @apply cursor-pointer;
}
